.message-list {
    border: 1px solid #ccf;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 52px;
}

.message-composer {
    border: 1px solid #ccf;
    height: 48px;
    position: absolute;
    bottom:2px;
    right:0;
    left:0;
}

.message {
    resize: none;
    font-size: 16px;
    font-family: inherit;
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}